body{
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#6aa9ff;
margin:0;
}

.box{
background:white;
padding:25px;
width:420px;
border-radius:12px;
text-align:center;
}

.option{
background:#eee;
padding:10px;
margin:8px 0;
cursor:pointer;
border-radius:5px;
}

.option:hover{
background:#cfe2ff;
}

button{
padding:12px;
margin-top:15px;
width:100%;
font-size:16px;
cursor:pointer;
border:none;
background:#4a7cff;
color:white;
border-radius:6px;
}

button:hover{
background:#355edb;
}

#quiz,#result{
display:none;
} 